@import '../../node_modules/rqc-lib-react-portfolio/build/index.css';

html {
  scroll-behavior: smooth;
}

.app-portfolio-root {
  background-color: #0B192E;
  padding-top: 0.8rem;
  .content-center-sides {
    overflow-x: hidden;
    padding: 0 150px;
    max-width: 100%;
    @media (max-width: 768px) {
      padding: 0 5.5rem;
    }
    @media (max-width: 576px) {
      padding: 0 1.5rem;
    }
  }
}